<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.css">
    <link rel="stylesheet" href="/stylesheets/app.css">
  </head>
  <body>
    <div class="ui inverted fixed inverted menu">
      <div class="ui container">
        <a class="item">
          <i class="write icon"></i>Blog App
        </a>
        <a href='/' class="item <% if(pageName === 'index') { %>active<% } %>">
          Home
        </a>
        <a href='/blogs/new' class="item <% if(pageName === 'new') { %>active<% } %>" >
          New Post
        </a>
      </div>
    </div>
